@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';

* {
  box-sizing: border-box;
}

// Helpers
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
