.MainLayout {
  .MainLayout__container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;

    main {
      display: grid;
      grid-template-columns: 250px 1fr;

      .MainLayout__right,
      .MainLayout__left {
        padding: 0 10px;
      }

      .MainLayout__left {
        padding: 0 10px;
        border-right: 2px solid #3c4c5940;
        background: #f7f7f7;

        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
